<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Anime or AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ static('index.css') }}">
</head>
<body>

<div id="header-block">
    <h1 id="header">Is this anime real, or AI generated?</h1>
    <div id="timers">
        <progress id="timer" value="100" max="100"></progress>
        {# <progress id="timer-inverse" value="100" max="100"></progress> #}
    </div>
</div>
<div id="content">
    <img id="image" src="" />
    <div id="anime-data">
        <h2 id="name"></h2>
        <h3 id="anime"></h3>
    </div>
</div>
<div id="buttons">
    <div id="game-buttons" style="display: none;">
        <button id="anime-button" class="button" onclick="buttonClicked(false)">Real</button>
        <button id="ai-button" class="button" onclick="buttonClicked(true)">AI</button>
    </div>
    <div id="meta-buttons" style="display: none;">
        <button id="new-button" class="button" onclick="this.disabled = true; getNewAnime().then(() => {this.disabled = false})">Get New Image</button>
    </div>
</div>
<div id="score-holder">
    <h3>Current Score: <span id="current-score">0</span></h3>
    <h3>Max Score: <span id="max-score">0</span></h3>
</div>

<script type="text/javascript" src="{{ static('index.js') }}"></script>
<script type="text/javascript">
    getNewAnime();
</script>

</body>
</html>
