<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Anime or AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ static('index.css') }}" />
    <link rel="stylesheet" type="text/css" href="https://voxelfox.co.uk/static/css/icomoon.css">
    <meta name="og:title" content="Anime or AI" />
    <meta name="og:description" content="Can you work out whether these pictures are from a real anime?" />
    <meta name="description" content="Can you work out whether these pictures are from a real anime?">
    {# <meta property="og:image" content="" /> #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@VoxelFoxKae" />
    <meta name="twitter:creator" content="@VoxelFoxKae" />
    {# <meta property="twitter:image" content="" /> #}
</head>
<body>

<div id="header-block">
    <h1 id="header">Is this anime real, or AI generated?</h1>
    <div id="timers">
        <progress id="timer" value="100" max="100"></progress>
        {# <progress id="timer-inverse" value="100" max="100"></progress> #}
    </div>
</div>
<div id="content" style="display: none;">
    <img id="image" src="" />
    <div id="anime-data">
        <h2 id="name"></h2>
        <h3 id="anime"></h3>
    </div>
</div>
<div id="buttons">
    <div id="game-buttons" style="display: none;">
        <button id="anime-button" class="button" onclick="buttonClicked(false)">Real</button>
        <button id="ai-button" class="button" onclick="buttonClicked(true)">AI</button>
    </div>
    <div id="meta-buttons">
        <h2 id="result" style="display: none;"></h2>
        <button id="new-button" class="button" onclick="this.disabled = true; this.innerHTML = 'Get New Image'; getNewAnime().then(() => {this.disabled = false})">Start</button>
    </div>
</div>
<div id="score-holder">
    <h3>Current Score: <span id="current-score">0</span></h3>
    <h3>Max Score: <span id="max-score">0</span></h3>
</div>

<div id="marketing">
    <p>
        <span>Made by</span>
        <a href="https://twitter.com/VoxelFoxKae" target="_blank">@VoxelFoxKae</a>
        <a href="https://twitter.com/VoxelFoxKae" target="_blank"><span class="contact-icon icon-twitter"></span></a>
        <a href="https://discord.gg/vfl" target="_blank"><span class="contact-icon icon-discord"></span></a>
        <a href="https://twitch.tv/VoxelFoxKae" target="_blank"><span class="contact-icon icon-twitch"></span></a>
        <a href="mailto:kae@voxelfox.co.uk" target="_blank"><span class="contact-icon icon-at"></span></a>
    </p>
    <p>
        <span>Based on a concept by</span>
        <a href="https://twitter.com/ChongoTweet" target="_blank">@ChongoTweet</a>
        <a href="https://twitter.com/ChongoTweet/status/1407546762160713735" target="_blank"><span class="contact-icon icon-twitter"></span></a>
        <a href="https://www.twitch.tv/chongoshow" target="_blank"><span class="contact-icon icon-twitch"></span></a>
    </p>
    <p id="footer">Privacy notice: Votes are saved anonymously on the server. The purpose of this is research into the the models output quality.</p>
</div>

<script type="text/javascript" src="{{ static('index.js') }}"></script>

</body>
</html>
